# Dependencies 
node_modules/

# Generated
dist/ 

# IDE and editor 
.idea/
.vscode/

# Enviroment variable files 
.env*

# MacOS system files
.DS_Store

# Linux system files
*.swp

# Windows system files
Thumbs.db